<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<!-- <div class="jumbotron">
  <h1 align="center">testestestetestestestestestes</h1>
  <p align="center">Achieve skill-ightenment.</p>
</div> -->


<h1 align="center">About Ujuzi</h1>
<hr>
<p class="lead">Ujuzi was inspired by the work of the Community Empowerment Fund (CEF), a non-profit organization based in Chapel Hill. The CEF works to alleviate homelessness and poverty by connecting community members to supportive services, creating new opportunities for those in need, and investing in people and their potential.</p>

<p class= "lead">This preliminary Ujuzi demo was put together with data from the CEF regarding the most sought-after jobs by employees reentering the workforce; the requirements and skills needed for these jobs were recorded from real employers' stated preferences, from websites such as <a href="https://www.ncworks.gov/">ncworks.gov</a>.</p>

<p>Developers: Tara Gu, Jeff Wang, Kannan Raju</p>
<p>Special thanks to: Janet Xiao (CEF) and Adam Martin (Code for Durham).</p>


</body>

</html>
