<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="jumbotron">
  <h1 align="center">Achieve Skillightenment.</h1>
  <p align="center">Welcome to your resume-building resource.</p>
</div>

<p class="lead">Skillightenment is an easy to use resume building aid. Via a simple questionnaire, Skillightenment helps you discover your own potential and facilitates effective communication of your talents and abilities to potential employers.</p>

<p class= "lead">After the Skillightenment process, we'll output a neat summary of your skills, which you can use to bolster your resume strength and empower your job search.</p>

<div>
<% if !current_user.nil?%>
<%= button_to "Questions!", {:controller => :users, :action => 'edit2', :id => current_user.id}, :class=>"btn btn-primary" %>
<% end %>
</div>


</body>

</html>
