<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="jumbotron">
  <h1 align="center">Welcome to Ujuzi.</h1>
  <p align="center">Your resume-building resource.</p>
</div>

<p class="lead">Ujuzi is an easy to use resume building aid. Via a simple questionnaire, Ujuzi helps you discover your own potential and facilitates effective communication of your talents and abilities to potential employers.</p>

<p class= "lead">After the Ujuzi process, we'll output a neat summary of your skills, which you can use to bolster your resume strength and empower your job search.</p>

</body>

</html>
