<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
	<head>
	</head>

	<body>

	<div id="MainQuestionnairediv" class="container">
		<p>djaslkdjaslkdasjldks</p>

		<div id="forkQuestiondiv">
			<p>Which of the following jobs do you wish to have?</p>
			<button onclick="revealNextPage('WarehousePage1')" class="btn btn-primary btn-lg btn-block">Warehouse Worker</button>
			<button onclick="revealNextPage('CNAPage1')" class="btn btn-default btn-lg btn-block">Certified Nursing Assistant</button>
			<button class="btn btn-primary btn-lg btn-block">Truck Driver</button>
			<button class="btn btn-primary btn-lg btn-block">Food Service Associate</button>
			<button class="btn btn-primary btn-lg btn-block">Retail Worker</button>
		</div>	

		<div style="display:none" id="CNAPage1div">
			<p>Do you have previous work experience in the CNA field or similar?</p>
			<button onclick="revealNextPage('CNAPage2')" class="btn btn-default">Yes</button>
			<button onclick="revealNextPage('CNAPage3')" class="btn btn-default">No</button>
		</div>
		<div style="display:none" id="CNAPage2div">
			<p>In your previous work, have you had experience with any of the following?</p>
			<div class="checkbox">
				<label>
			    	<input type="checkbox" value="">
			    	Administering Medications
			  	</label>
			</div>


			<button class="btn btn-default">Administering Medications</button>
			<button class="btn btn-default">Observing Patients Over Time</button>
			<button class="btn btn-default">Changing Dressing</button>
			<button class="btn btn-default">Taking and Recording Vitals</button>
			<button class="btn btn-default">No</button>
			<button onclick="revealNextPage('CNAPage3')" class="btn btn-default">Proceed</button>
		</div>

		<div style="display:none" id= "CNAPage3div">
			<p>Do you have any miscellaneous job or volunteer experience with any of the following?</p>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">Proceed</button>
		</div>



		<div style="display:none" id="WarehousePage1div">
			<p>Do you have previous experience in Warehouse maintenence or something similar?</p>
			<button onclick="revealNextPage('WarehousePage2')" class="btn btn-default">Yes</button>
			<button onclick="revealNextPage('WarehousePage3')" class="btn btn-default">No</button>
		</div>
		<div style="display:none" id="WarehousePage2div">
			<p>In your previous work, have you had experience with any of the following?</p>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button onclick="revealNextPage('WarehousePage3')" class="btn btn-default">Proceed</button>
		</div>

		<div style="display:none" id="WarehousePage3div">
			<p>In any previous work or volunteer experience have you had any experience with the following?</p>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">No</button>
			<button class="btn btn-default">Proceed</button>
		</div>


		</div>
	</body>
<script type="text/javascript">

function revealNextPage(pageToReveal) {
	pages = ["forkQuestion", "CNAPage1", "CNAPage2", "CNAPage3", "WarehousePage1", "WarehousePage2", "WarehousePage3"];

	for (i = 0; i < pages.length; i++) {
		if (pages[i] != pageToReveal) {
			console.log(pages[i] + " " + pageToReveal);
			$("#" + pages[i] + "div").hide("slow");
			// document.getElementById(pageToReveal + "div").style.display = "none";
		}
	}
	$("#" + pageToReveal + "div").show("slow");
	// document.getElementById("CNAPage1div").style.display = "table";


}
</script>

</html>