<html>
	<head></head>


	<body>
	<div id="MainQuestionnairediv">
		<p>djaslkdjaslkdasjldks</p>

		<div id="forkQuestiondiv">
			<p>Which of hte following jobs do you wish to have?</p>
			<button class="btn btn-default">Proceed</button>
		</div>

		<div id="CNAPage1div">
			<p>Do you have previous work experience with this job or similar?</p>
			<button class="btn btn-default">Proceed</button>

			<div id="CNAPage2div">
				<p>In your previous work experience, have you had any work experience with any of the following?</p>
				<button class="btn btn-default">Proceed</button>
			</div>

			<div id = "CNAPage3div">
				<p>Do you have any job or volunteer experience with any of the following?</p>
				<button class="btn btn-default">Proceed</button>
			</div>
		</div>



		<div id="WarehousePage1div">
			<p>Do you have previous experience in this job or something similar?</p>
			<button class="btn btn-default">Proceed</button>

			<div id="WarehousePage2div">
				<p>In your previous experience, have you had experience with any of the following?</p>
				<button class="btn btn-default">Proceed</button>
			</div>

			<div id="WarehousePage3div">
				<p>In any previous work or volunteer experience have you had any experience with the following?</p>
				<button class="btn btn-default">Proceed</button>
			</div>
			
		</div>


	</body>

</html>